/* Fonts */

@font-face {
	font-family: 'Nunito-Regular';
	src: url(Nunito-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Nunito-Bold";
	src: url(Nunito-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Nunito-ExtraBold";
	src: url(Nunito-ExtraBold.ttf);
	font-weight: extra-bold;
}

@font-face {
	font-family: "Nunito-SemiBold";
	src: url(Nunito-SemiBold.ttf);
	font-weight: semi-bold;
}

@font-face {
	font-family: 'Nunito-Light';
	src: url(Nunito-Light.ttf);
	font-weight: lighter;
	font-style: lighter;
}